<div class="container-fluid page">
    <div class="page_box p-3 mt-2">Colaboradores</div>
    <div class="page_content shadow p-3 position-relative">
        <div class="page_content-data position-absolute text-center">
            <mat-card class="home mat-elevation-z3">
                <mat-card-title class="title">
                    Colaboradoes!
                </mat-card-title>
                <mat-card-subtitle class="subtitle">
                    Conteúdo do colaboradores
                </mat-card-subtitle>
            </mat-card>
        </div>
    </div>
</div>
