<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    home
                </i>
                Início
            </a>
            <a mat-list-item routerLink="/colaboradores">
                <i class="material-icons">
                    groups
                </i>
                Colaboradores
            </a>
            <a mat-list-item routerLink="/ferramentas">
                <i class="material-icons">
                    construction
                </i>
                Ferramentas
            </a>
            <a mat-list-item routerLink="/emprestimos">
                <i class="material-icons">
                    handshake
                </i>
                Empréstimos
            </a>
            <a mat-list-item>
                <i class="material-icons">
                    logout
                </i>
                Logout
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>