.sidenav {
    background-color: #3f51b5;
    width: 180px;
}

.sidenav a {
    color: #fff;
}

.sidenav i {
    padding-right: 5px;
}

.content {
    padding: 16px;
    background-color: #fff;
}

.home .title {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}

.home .subtitle {
    font-size: 1.1rem;
}