<mat-nav-list class="nav-list">

    <div class="logo py-3">
        <a routerLink="/home">
            <img class="logo" src="../../../../assets/img/logo_furnas_branco.png" alt="logo">
        </a>
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon>
        Início
    </a>

    <a mat-list-item routerLink="/colaboradores" routerLinkActive="list-item-active">
        <mat-icon>groups</mat-icon>
        Colaboradores
    </a>

    <a mat-list-item routerLink="/ferramentas" routerLinkActive="list-item-active">
        <mat-icon>construction</mat-icon>
        Ferramentas
    </a>

    <a mat-list-item routerLink="/emprestimos" routerLinkActive="list-item-active">
        <mat-icon>handshake</mat-icon>
        Empréstimos
    </a>

</mat-nav-list>
