<div class="container-fluid page">
    <div class="page_box p-3 mt-2">Nova Ferramenta</div>
    <div class="page_content shadow p-3 position-relative">
        <div class="page_content-data position-relative">
            <div class="card">
                <mat-card>
                    <mat-card-title>Nova Ferramenta</mat-card-title>
                    <form>
                        <mat-form-field>
                            <input matInput type="text" [(ngModel)]="ferramenta.codigo" name="codigo" required>
                            <mat-placeholder class="placeholder">Código</mat-placeholder>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput type="text" [(ngModel)]="ferramenta.descricao" name="descricao" required>
                            <mat-placeholder class="placeholder">Descrição</mat-placeholder>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput type="number" [(ngModel)]="ferramenta.quantidadeTotal"
                                   name="quantidadeTotal" required>
                            <mat-placeholder class="placeholder">Quantidade total</mat-placeholder>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput type="number" [(ngModel)]="ferramenta.valorCompra" name="valorCompra"
                                   required>
                            <mat-placeholder class="placeholder">Valor da compra</mat-placeholder>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput type="text" [(ngModel)]="ferramenta.localizacao" name="localizacao"
                                   required>
                            <mat-placeholder class="placeholder">Localização</mat-placeholder>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput type="text" [(ngModel)]="ferramenta.numeroPatrimonial"
                                   name="numeroPatrimonial" required>
                            <mat-placeholder class="placeholder">Número patrimonial</mat-placeholder>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput type="text" [(ngModel)]="ferramenta.fabricante" name="fabricante" required>
                            <mat-placeholder class="placeholder">Fabricante</mat-placeholder>
                        </mat-form-field>
                        <!--<mat-form-field>
                            <input matInput placeholder="Categoria" [(ngModel)]="ferramenta.categoriaID" name="categoriaID">
                        </mat-form-field>-->
                    </form>
                    <div class="button-container">
                        <button mat-raised-button (click)="createFerramenta()" color="primary">Salvar!</button>
                        <button mat-raised-button (click)="cancel()" color="accent">Cancelar!</button>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>
