<mat-card>
    <mat-card-title>Inativar Colaborador</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="CPF"
                [(ngModel)]="colaborador.cpf" name="cpf" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Matrícula"
                [(ngModel)]="colaborador.matricula" name="matricula" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nome"
                [(ngModel)]="colaborador.nome" name="nome" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Sobrenome"
                [(ngModel)]="colaborador.sobrenome" name="sobrenome" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email"
                [(ngModel)]="colaborador.email" name="email" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Telefone"
                [(ngModel)]="colaborador.telefone" name="telefone">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cargo"
                [(ngModel)]="colaborador.cargo" name="cargo" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Empresa"
                [(ngModel)]="colaborador.empresa" name="empresa" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Supervisor"
                [(ngModel)]="colaborador.supervisorID" name="supervisorID">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Perfil"
                [(ngModel)]="colaborador.perfil" name="perfil" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Permissão"
                [(ngModel)]="colaborador.role" name="role" required>
        </mat-form-field>
    </form>
</mat-card>

<button mat-raised-button (click)="deleteColaborador()" color="warn">
    Inativar
</button>

<button mat-raised-button (click)="cancel()" color="secondary">
    Cancelar
</button>