<mat-card>
    <mat-card-title>Alterar Ferramenta</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Código" [(ngModel)]="ferramenta.codigo" name="codigo" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Descrição" [(ngModel)]="ferramenta.descricao" name="descricao" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Quantidade Total" [(ngModel)]="ferramenta.quantidadeTotal" name="quantidadeTotal" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Valor de Compra" [(ngModel)]="ferramenta.valorCompra" name="valorCompra" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Localização" [(ngModel)]="ferramenta.localizacao" name="localizacao" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Número Patrimonial" [(ngModel)]="ferramenta.numeroPatrimonial" name="numeroPatrimonial" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Fabricante" [(ngModel)]="ferramenta.fabricante" name="fabricante" required>
        </mat-form-field>
        <!--<mat-form-field>
            <input matInput placeholder="Categoria" [(ngModel)]="ferramenta.categoriaID" name="categoriaID">
        </mat-form-field>-->
    </form>
</mat-card>

<button mat-raised-button (click)="updateFerramenta()" color="accent">
    Atualizar
</button>

<button mat-raised-button (click)="cancel()" color="secondary">
    Cancelar
</button>