<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
<div class="login-page">
    <div class="form">
        <div mat-card-title class="form_title">
            Login Page
        </div>
        <form class="login-form">
            <mat-form-field class="input">
                <input matInput type="text" required>
                <mat-placeholder class="placeholder">Username</mat-placeholder>
            </mat-form-field>

            <mat-form-field class="input">
                <input matInput type="password" required>
                <mat-placeholder class="placeholder">Password</mat-placeholder>
            </mat-form-field>

            <button mat-raised-button>Login</button>

            <p class="message">Not registered? <a href="#">Create an account</a></p>
            <p class="message">Forgot password? <a href="#">Click to reset</a></p>
        </form>

    </div>
</div>

</body>
</html>
