<div class="container-fluid page">
    <div class="page_box p-3 mt-2">Novo Colaborador</div>
    <div class="page_content shadow p-3 position-relative">
        <div class="page_content-data position-relative">
            <div class="card">
                <mat-card>
                    <mat-card-title>Novo Colaborador</mat-card-title>
                    <form>
                        <mat-form-field>
                            <input matInput type="number" [(ngModel)]="colaborador.cpf" name="cpf" required>
                            <mat-placeholder class="placeholder">CPF</mat-placeholder>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput type="number" [(ngModel)]="colaborador.matricula" name="matricula" required>
                            <mat-placeholder class="placeholder">Matrícula</mat-placeholder>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput type="text" [(ngModel)]="colaborador.nome" name="nome" required>
                            <mat-placeholder class="placeholder">Nome</mat-placeholder>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput type="text" [(ngModel)]="colaborador.sobrenome" name="sobrenome" required>
                            <mat-placeholder class="placeholder">Sobrenome</mat-placeholder>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput type="email" [(ngModel)]="colaborador.email" name="email" required>
                            <mat-placeholder class="placeholder">E-mail</mat-placeholder>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput type="tel" [(ngModel)]="colaborador.telefone" name="telefone" required>
                            <mat-placeholder class="placeholder">Telefone</mat-placeholder>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput type="text" [(ngModel)]="colaborador.cargo" name="Cargo" required>
                            <mat-placeholder class="placeholder">Cargo</mat-placeholder>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput type="text" [(ngModel)]="colaborador.empresa" name="empresa" required>
                            <mat-placeholder class="placeholder">Empresa</mat-placeholder>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Supervisor" [(ngModel)]="colaborador.supervisorID"
                                   name="supervisorID">
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Perfil</mat-label>
                            <mat-select required [(ngModel)]="colaborador.perfil">
                                <mat-option *ngFor="let perfil of perfis" [value]="perfil.value">
                                    {{perfil.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Permissão</mat-label>
                            <mat-select required>
                                <mat-option *ngFor="let role of roles" [value]="role.value">
                                    {{role.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </form>
                    <div class="button-container">
                        <button mat-raised-button (click)="createColaborador()" color="primary">
                            Salvar
                        </button>

                        <button mat-raised-button (click)="cancel()" color="accent">
                            Cancelar
                        </button>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>


